<% if @posts.any? %> 
	<% @posts.each do |post| %> 

		<% if post.image.present? %>
			<%= image_tag post.image.url(:thumb), class: 'uploaded-pic' %>
		<% end %>

		<h2><%= post.title %></h2><br> 
		<%= post.description %> <br>
		<p>Posted by: <%= post.user.email %></p>
	<% end %>
	<% else %>
		No posts yet
<% end %>

<%= link_to "Create a post", new_post_path %>

